body{
    background-color: #BDDFAB;
}

h2{
    text-align: center;
    color: #430505;
}

a{
    color: #d12ba9;
    text-align: center;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
a:hover{
    color: #ff32d0;
}